/* css for section pages */

/* header */
body {
font-family: 'Raleway', sans-serif;
margin: 0px;  
line-height:1.5;
}

#wrapper {
	min-height:100%;
	position:relative;
}

.header{
width: 100%;
top:0;
left:0;
right:0;
background-color: #464751;
}

#nav.bar {
float: right;
margin-top: -65px;
}

.bar a{ 
color:white;
font-size: 18px;
text-decoration: none;
}

.bar a:hover, .bar a:active {
color: #e68b37;
}

.active li{
color: #e68b37;
}

.bar li{
display: inline;
padding-left: 20px;
padding-right: 60px;}


/*Home page*/

/* content1_Logo */

.content1_landingpage{
    background-image: url(images/Home Page/image1.jpg);
    background-repeat: no-repeat;
    position:fixed;
    /*background-size:cover;*/
    top:0;
    left:0;
    z-index: -1;
    width: 100%;
    }


.textonimage_menu{
    background:url(images/Home Page/image3.jpg) no-repeat; 
    background-size: cover;
    background-attachment: fixed; 
    height:450px; 
    width:100%; 
    overflow:scroll;
    text-align:center;  
}

/*
.textonimages_order {
    background-image: url(images/Home Page/image5.jpg); 
    background-attachment: fixed; 
    background-repeat: no-repeat;
    height:450px; 
    width:100%; 
    overflow:scroll;
    text-align: center;  
}
*/

.homepagecontent{
/*margin-top: 300px;*/
background-color: white;
}

#biglogo {
    text-align: center;   
    margin-top: 150px;
    margin-bottom: 50px;
}

/*Homepage Stlyling*/

h2 {
color:#464751;
letter-spacing: 2px;
font-weight: 900;}

p {
    color:#464751;
}

.hometosection a {
    color:#e68b37;
    text-decoration: underline;
}


.hometosection a:hover {
    color:white;
    background-color: #e68b37;
}


.hometosection a:visited {
    color:#e68b37;
    text-decoration: underline;
}
/*content1_about*/

.about {
    width: 100%;
    border: 1px solid black;
    overflow: hidden; /* will contain if #first is longer than #second */
/*
    margin-top: 50px;
    margin-bottom: 50px;
*/
}

.image_about_homepage {
    width: 300px;
    float:right; /* add this */
    border: 1px solid red;
    margin-top: 60px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 60px;
}

.text_about_homepage {
    border: 1px solid green;
    overflow: hidden; 
    text-align: center;
    margin-left: 100px;
    margin-right: 200px;
    margin-top: 100px;
}

/*content4_service*/
.service {
    width: 100%;
    border: 1px solid black;
    overflow: hidden; /* will contain if #first is longer than #second */
/*
    margin-top: 50px;
    margin-bottom: 50px;
*/
}

.text_service_homepage {
    text-align: center;
    border: 1px solid red;
    margin-left: 100px;
    margin-right: 150px;
    margin-top: 100px;
    overflow: hidden; 
}

.image_service_homepage {
    float:left; /* add this */
    border: 1px solid green;
    width: 500px;
    margin-top: 80px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 80px;
    
}



/*content5_order*/

.textonimage_order{
    background:url(images/Home Page/image5.jpg) no-repeat; 
    background-size: cover;
    background-attachment: fixed; 
    height:450px; 
    width:100%; 
    overflow:scroll;
    text-align:center;  
}

/*footer*/
.footer {
    width: 100%;
    overflow: hidden; /* will contain if #first is longer than #second */
    background-color:  #464751;
    left:0;
    bottom:0;
    padding-bottom: 25px;
    position: absolute;
}

.TClogo {
/*    border: 1px solid green;*/
    display: inline-block;
/*    float: left;*/
    margin-top: 30px;
    margin-left: 50px;
    margin-bottom: 50px;
    margin-left: 20px;
    position: relative;

}

.address {
/*    border: 1px solid red;*/
    display: inline-block;
/*    float: left;*/
/*    position:absolute; left:66.6%; width: 33.3%;*/
    text-align: left;
    width: 80%;
    margin-left: 20px;
    position: relative;
    top: 40px;
}

.TDlogo{
/*    border: 1px solid purple;*/
    display: inline-block;
/*    float: left;*/
/*     position:absolute; left:33.3%; width: 33.3%;*/
    position: relative;
    
}

.footer p {
    color: white;
    line-height: 1.2;
    
}

/* sectionpage title image */

#cover {
    width: 100%;
}

h1.sectionpage{
font-size: 60;
font-weight: 900;
letter-spacing:10;
color:#464751;
position: relative;
}

img.backgroundimg {
    display:block;
    margin-left:auto;
    margin-right:auto;
/*
    position: fixed;
    width: 100%;
    z-index: -1;
    top:0;
*/
}

/* sectionpage content */

.backgroundimg{
    background-image: url(images/About/about_title_image.jpg);
    background-repeat: no-repeat;
    position:fixed;
    /*background-size:cover;*/
    top:0;
    left:0;
    z-index: -1;
    width: 100%;
    }

.sectionpage{
    text-align: center;   
    margin-top: 200px;
}

.content {
padding-left: 150;
padding-right: 150;
padding-top:30;
padding-bottom: 100;
background-color: white;
position: relative;
top:300;
}

h3 {
font-size: 24;
font-weight: 700;
color:#e68b37;
}

p.section {
font-size: 14px;
font-weight: 400;
color:#464751;
}

#intextlist li{
font-size: 14px;
font-weight: 400;
color:#464751;
display: list-item;
}

