/* css for section pages */

/* header */
body {
font-family: 'Raleway', sans-serif;
margin: 0px;  
line-height:1.5;
}

#wrapper {
min-height: 100%;
height: auto;
position: relative;
}

.header{
width: 100%;
top:0;
left:0;
right:0;
background-color: #464751;
}

#nav.bar {
float: right;
margin-top: -65px;
}

.bar a{ 
color:white;
font-size: 18px;
text-decoration: none;
}

 .bar a:hover, .bar a:active {
color: #e68b37;
}

.active li{
color: #e68b37;
}

.bar li{
display: inline;
padding-left: 20px;
padding-right: 60px;}


/*Home page*/

/* content1_Logo */

.content1_landingpage{
    background-image: url(images/Home Page/image1.jpg);
    background-repeat: no-repeat;
    position:fixed;
    /*background-size:cover;*/
    top:0;
    left:0;
    z-index: -1;
    width: 100%;
    }

.full-image{
    width: 100%;
    overflow: hidden;
    height:450px; 
    position: relative;
}

.textonimage_image
{
/*
    background-image:url(images/Home Page/image3.jpg) no-repeat; 
    background-size: cover;
*/
    display: inline-block;
    width:100%; 
    overflow:scroll;
/*    text-align:center;  */
    position: relative;
}
.textonimage_white{
    display: inline-block;
    position:relative;
    top: -300px;
    margin-left: 550px;
    text-align: center;
    
    }
.textonimage_white h2{
    letter-spacing: 3px;
    font-weight: 900;
    color: white;}

.textonimage_white a{
    color: white;}
.textonimage_white a:hover{
    font-weight: 700;}
/*
.textonimages_order {
    background-image: url(images/Home Page/image5.jpg); 
    background-attachment: fixed; 
    background-repeat: no-repeat;
    height:450px; 
    width:100%; 
    overflow:scroll;
    text-align: center;  
}
*/

.homepagecontent{
/*margin-top: 300px;*/
background-color: white;
}

#biglogo {
    text-align: center;   
    margin-top: 150px;
    margin-bottom: 50px;
}

/*Homepage Stlyling*/

h2 {
color:#464751;
letter-spacing: 3px;
font-weight: 900;}

p {
    color:#464751;
}

a.hometosection{
    font-weight: 400;
    letter-spacing: 0.8px;
    color:#e68b37;
    text-decoration: underline;
}


a.hometosection:hover {
    font-weight: 700;
    text-decoration: underline;
}

/*content1_about*/

.about {
    width: 100%;
/*    border: 1px solid black;*/
    overflow: hidden; /* will contain if #first is longer than #second */
/*
    margin-top: 50px;
    margin-bottom: 50px;
*/
}

.image_about_homepage {
    width: 300px;
    float:right; /* add this */
/*    border: 1px solid red;*/
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 30px;
}

.text_about_homepage {
/*    border: 1px solid green;*/
    overflow: hidden; 
    text-align: center;
    margin-left: 100px;
    margin-right: 200px;
    margin-top: 100px;
}

/*content4_service*/
.service {
    width: 100%;
/*    border: 1px solid black;*/
    overflow: hidden; /* will contain if #first is longer than #second */
/*
    margin-top: 50px;
    margin-bottom: 50px;
*/
}

.text_service_homepage {
    text-align: center;
/*    border: 1px solid red;*/
    margin-left: 100px;
    margin-right: 150px;
    margin-top: 100px;
    overflow: hidden; 
}

.image_service_homepage {
    float:left; /* add this */
/*    border: 1px solid green;*/
    width: 500px;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
    
}



/*content5_order*/

.textonimage_order{
    background:url(images/Home Page/image5.jpg) no-repeat; 
    background-size: cover;
    background-attachment: fixed; 
    height:450px; 
    width:100%; 
    overflow:scroll;
    text-align:center;  
}

/*footer*/
.footer {
    width: 100%;
    overflow: hidden; /* will contain if #first is longer than #second */
    background-color:  #464751;
    left:0;
    bottom:0;
    padding-bottom: 25px;
    position: absolute;
}

.TClogo {
/*    border: 1px solid green;*/
    display: inline-block;
/*    float: left;*/
    margin-top: 30px;
    margin-left: 70px;
    margin-bottom: 50px;
    margin-left: 20px;
    position: relative;

}

.address {
/*    border: 1px solid red;*/
    display: inline-block;
/*    float: left;*/
/*    position:absolute; left:66.6%; width: 33.3%;*/
    text-align: left;
    width: 80%;
    margin-left: 40px;
    position: relative;
    top: 40px;
}

.TDlogo{
/*    border: 1px solid purple;*/
    display: inline-block;
/*    float: left;*/
/*     position:absolute; left:33.3%; width: 33.3%;*/
    position: relative;
    
}

.footer p {
    color: white;
    line-height: 1.2;
    
}

/* sectionpage title image */

#cover {
    width: 100%;
}

h1.sectionpage{
font-size: 60;
font-weight: 900;
letter-spacing:10;
color:white;
text-align: center;
margin-top: 200px;
margin-bottom: 200px;
position: relative;
}

h1.sectionpage_graytitle {
font-size: 60;
font-weight: 900;
letter-spacing:10;
position: relative;
color: #464751;
text-align: center;
margin-top: 200px;
margin-bottom: 200px;
}


img.backgroundimg {
    display:block;
    margin-left:auto;
    margin-right:auto;
/*
    position: fixed;
    width: 100%;
    z-index: -1;
    top:0;
*/
}

/* sectionpage content */

.backgroundimg{
    background-image: url(images/About/about_title_image.jpg);
    background-repeat: no-repeat;
    position:fixed;
    /*background-size:cover;*/
    top:0;
    left:0;
    z-index: -1;
    width: 100%;
    }

.sectionpage{
    text-align: center;   
    margin-top: 200px;
}

.content {
padding-left: 150;
padding-right: 150;
padding-top:30;
padding-bottom: 250;
background-color: white;
/*top:300;*/
}

h3 {
font-size: 24;
font-weight: 700;
color:#e68b37;
}

p.section {
font-size: 14px;
font-weight: 400;
color:#464751;
}

a.linkintext{
color: #e68b37;
text-decoration: none;
}

a.linkintext:hover{
color: #e68b37;
text-decoration: underline;
}

#intextlist li{
font-size: 14px;
font-weight: 400;
color:#464751;
display: list-item;
list-style: inside;
}

#intextlist_table li{
font-size: 14px;
font-weight: 400;
color:#464751;
line-height:2;
list-style-type:none;
}

/*Service and Order page layout*/

.servicetypes{
    width: 100%;
    overflow: hidden;
    text-align: center;
}
.intextlist_left {
    display: inline-block;
    width: 60%;
    text-align: left;
    float: left;
    padding: 0;
}

.intextimage_right {
    display: inline-block;
    width: 40%;
    text-align: center; 
}

.intextimage_right img {
    padding-top: 80px;
}

.intextlist_right {
    display: inline-block;
    width: 60%;
    text-align: left;
    float: right;
    padding: 0;
}

.intextimage_left{
    display: inline-block;
    width: 40%;
    text-align: center;   
}

.intextimage_left img {
    padding-top: 80px;
}
/*Service Page Options Bar */

.options {
    width: 100%;
    overflow: hidden;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.option1 {
    display: inline-block;
    width: 32%;
    text-align: center;
}

.option2 {
    display: inline-block;
    width: 32%;
    text-align: center;    
 }

.option3 {
    display: inline-block;
    width: 32%;
    text-align: center;
}

a.options_sectionpage{
    color:#464751;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 0.8;
}

.options_sectionpage:hover{
    color: #e68b37;
}

a.options_line{
    width: 100%;
}
.options_line:hover {
    content: url('images/Service Page/Selector---active.jpg');
    padding: 0;
    width:100%;
    text-align: center;}

/*Menu Page*/

#container {
    height: 800px;}

/*Contact Page*/
.contact {
    overflow: hidden;
    width: 100%;
    background-color: white;
    margin: 0;
}
.map {
    display: inline-block;
    float: right;
    width: 100%;
    }
.contact-info {
    display: inline-block;
    width: 30%;
    padding-left: 150;
    padding-bottom: 200;
    float:left;
}