/* css for section pages */

/* header */
body {
font-family: 'Raleway', sans-serif;
margin: 0px;  
line-height:1.5;
}

.header{
width: 100%;
top:0;
left:0;
right:0;
background-color: #464751;
}

#nav.bar {
float: right;
margin-top: -65px;
}

.bar a{ 
color:white;
font-size: 18px;
text-decoration: none;
}

.bar a:hover{
color: #e68b37;
}

.image1 {
    width: 100%;
}

li{
display: inline;
padding-left: 20px;
padding-right: 60px;}

/* title image */

h1.about{
font-size: 60;
font-weight: 900;
letter-spacing:10;
color:#464751;
position: relative;
top:170px;
left:550px;
}

.backgroundimg {
    position: fixed;
    width: 100%;
    z-index: -1;
    top:0;
}

/* content */

.content {
padding-left: 150;
padding-right: 150;
padding-top:30;
padding-bottom: 100;
background-color: white;
position: relative;
top:300;
}

h2 {
font-size: 24;
font-weight: 700;
color:#e68b37;
}

p{
font-size: 14px;
font-weight: 400;
color:#464751;
}

#intextlist li{
font-size: 14px;
font-weight: 400;
color:#464751;
display: list-item;
}